@charset "UTF-8";

<style>
        body{
            background-color: rgb(241, 233, 222);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(95, 42, 6);
            background-color: rgb(216, 165, 99);
        }
        h2 {
            color: rgb(73, 69, 6);
        }
        p {
            text-align: justify;
        }
    </style>